@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

:root {
    --ifm-font-family-base: 'Open Sans';
}